.content__inner {
    @extend .container;
}



.resume__table {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: $breakpoint-tablet){
        display: block;
    }
}

[class^='resume__column'] {
    padding: $padding;

    > li + li {
        margin-top: $padding;
    }
}

.resume__column--left {
    background-color: $bg;
    flex-basis: 30%;
}

.resume__column--right {
    flex-basis: 64%;
}



[class^="list"] > li + li {
    padding-top: $padding / 4;
}

.list {
    list-style: disc;
    margin-bottom: $padding;

    > li {
        margin-left: $padding;
    }
}

.list--columns {
    columns: 2;

    @media screen and (max-width: $breakpoint-mobile){
        columns: 1;
        list-style: disc;

        li {
            margin-left: 1em;
        }
    }
}

.a-wild-table-appears {

    td {
        width: 50%;

        &:first-child {
            font-weight: bold;
        }

        &:nth-child(2) {
            padding-left: 1em;
        }
    }

    tr + tr td {
        padding-top: $padding / 4;
    }

    @media screen and (min-width:$breakpoint-tablet) and (max-width:960px){
        display: block;

        tr,
        td {
            display: block;
            width: 100%;
        }

        td:nth-child(2) {
            padding-top: 0;
        }
    }

}



.icon__awards:after {
    background-image: url('images/icon-awards.svg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: inline-block;
    height: 46px;
    margin-left: .25em;
    vertical-align: middle;
    width: 36px;
}

[class^='icon__']:before {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: inline-block;
    margin-right: .25em;
}

.icon__email:before {
    content: '@';
    font-weight: bold;
}

.icon__github:before {
    background-image: url('images/icon-github.svg');
    height: 16px;
    vertical-align: middle;
    width: 16px;
}

.icon__home:before {
    background-image: url('images/icon-home.svg');
    height: 16px;
    width: 16px;
}

.icon__codepen:before {
    background-image: url('images/icon-codepen.svg');
    height: 16px;
    width: 16px;
    vertical-align: text-bottom;
}
