body {
    font-family: 'Montserrat', arial, sans-serif;
    font-size: $base-font-size;
    line-height: 1.4;
}

strong {
    font-weight: bold;
}

em {
    color: #777;
    font-style: italic;
}



h1,
h2,
h3,
h4,
h5 {
    color: #000;
    font-weight: bold;
}

h1 {
    font-size: 3.4rem;
    letter-spacing: .075em;
    line-height: 1;
    text-transform: uppercase;
    word-wrap: break-word;

    span {
        color: $subtitle;
        display: block;
        font-size: .5em;
        font-weight: normal;
        padding-top: .5em;
    }

    @media screen and (max-width: 460px){
        font-size: 2rem;
    }
}

h2 {
    font-size: 1.6rem;
    margin-bottom: .35em;
    text-transform: uppercase;

    @media screen and (max-width: 460px){
        font-size: 1.5rem;
    }
}

h3 {}
h4 {}
h5 {}

p {
    color: $text;
    //font-size: .875rem;
    margin-bottom: $padding;
}

ul {
    color: $text;
    //font-size: .875rem;
    margin-bottom: $padding;
}
ol {}

blockquote {}
