html {
    font-size: $base-font-size;;
}

body {
    background-color: $bg-body;
    color: $text;
    font-family: $font-sans;
    font-size: $body-font-size;
    line-height: 1.5;
    opacity: 0;
}

strong {
    font-weight: bold;
}

em {
    color: #777;
    font-style: italic;
}

button {
    appearance: none;
    background: transparent;
    border: 1px solid #777;
    border-radius: .25rem;
    color: #777;
    cursor: pointer;
    padding: .25em .5em;
    opacity: 1;
    transition: opacity 125ms;

    &:hover {
        opacity: .66;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-weight: bold;
}

h1 {
    font-size: 5.4rem;
    letter-spacing: .075em;
    line-height: 1;
    text-transform: uppercase;
    word-wrap: break-word;

    @media screen and (max-width: 600px){
        font-size: 5.1rem;
    }

    @media screen and (max-width: 460px){
        font-size: 10vw;
    }
}

h2 {
    font-size: 2.6rem;
    margin-bottom: .35em;
    text-transform: uppercase;

    @media screen and (max-width: 600px){
        font-size: 3.8rem;
    }

    @media screen and (max-width: 460px){
        font-size: 7vw;
    }
}

h3 {}
h4 {}
h5 {}

p {
    margin-bottom: $padding;
}

ul {
    // margin-bottom: $padding;
}

ol {}

blockquote {}


a {
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}
