body.retro {
  background-color: #000;
  background-image: url(../images/geocities/bg-space2.gif);
  background-repeat: repeat;
  color: #eee;
  font-family: $font-retro-serif;
  font-size: 2rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
    font-family: $font-retro-sans;
  }

  .header {
    background-color: rgba(0, 0, 0, .66);
    border-bottom: 10px outset #ccc;
  }

  .logo {
    max-width: none;
  }

  .logo-object {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 56px;
    width: inherit;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: center;

  }

  .logo-mark {
    fill: $primary;
  }

  .primary-heading {
    // background-image: url(../images/geocities/title-text.gif);
    // background-repeat: no-repeat;
    // background-size: 100%;
    // background-position: 0 0;
    // height: 62px;
    // margin-left: auto;
    // margin-right: auto;
    // overflow: hidden;
    // text-indent: 200vw;
    // width: 542px;
    position: relative;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    &::before,
    &::after {
      content: url(../images/geocities/hamster-spin.gif);
      position: absolute;
      top: 0;
    }

    &::before {
      right: calc(100% + 2rem);
    }

    &::after {
      left: calc(100% + 2rem);
    }
  }

  .controls-color-scheme {
    display: none;
  }

  .retro-label--retro-style {
    display: none;
  }

  .retro-label--modern-style {
    display: inline-block;
  }

  .resume-body {
    border: 10px groove $primary;
  }

  .sidebar {
    background-image: url(../images/geocities/bg-space3.gif);
    background-repeat: repeat;
    border: 10px outset white;
    font-weight: bold;
  }

  .a-wild-table-appears {
    border: 3px outset;

    td {
      border: 3px solid #f0f;
    }
  }

  .sidebar-section--find-me {
    background-color: yellow;
    color: navy;
    border: 6px groove;
    padding: 6px;

    .sidebar-heading {
      color: navy;
    }
  }

  .resume-section {
    &::after {
      display: block;
      content: url(../images/geocities/hr-1.gif);
      height: 18px;
      max-width: 528px;
      width: 100%;
    }
  }

}